<!DOCTYPE html>
<html>
    <% include ../views/partials/head.ejs %>
    <body ng-app="planpenny-app">


    <a href ="#/timeLine">timeline</a>
    <br>
    <a href ="#/tasks">tasks</a>

    <div>This is single page loading</div>
    <div ng-view> </div>

    </body>
</html>